/* 修改未访问链接的颜色 
a {
    color: #3c00ff;
     蓝色 
}*/

/* 修改已访问链接的颜色 
a:visited {
    color: #800080;

}*/

/* 修改鼠标悬停链接的颜色 */
a:hover {
    color: #ff6347;
    /* 橙红色 */
}

/* 修改活动链接的颜色 
a:active {
    color: #000000;
    
}*/